<div class="profile-class-outer-div">

    <div class="top-colorbar">
        <div class="scroll-element primary-color-gradient-top"></div>
        <div class="scroll-element secondary-color-gradient-top"></div>
    </div>
    <div class="profile-section">
        <div class="introduction-section">
            <div class="header">
                Hey, I'm Abhishek
            </div>
            <div class="body">
                    I'm a software engineer. I like creating minimalistic, responsive, pixel-perfect websites. <br><br>
                    I've worked with most of the popular web technologies. I love to <b class="code-color">&lt;</b><b class="code code-color">code</b><b class="code-color">&gt;</b> and I'm passionate about being a little <b class="creative">creative</b> with my websites.
            </div>
        </div>
        <div class="project-section">
            <div class="project-top"></div>
            <div class="project-header">
                <h1>Projects</h1>
            </div>
            <div class="project-content">
                <ul class="project-list">
                    <a target="_blank" *ngFor="let item of projects.keys(); let i = index" [href]=projects.get(item)>
                        <li class="project-items">{{item}}</li>
                        <li class="about-projects hide">{{aboutProjects[i]}}</li>
                    </a>
                </ul> 
            </div>
            <div class="project-bottom"></div>
        </div>
    </div>

    <div class="bottom-colorbar">
        <div class="scroll-element primary-color-gradient-bottom"></div>
        <div class="scroll-element secondary-color-gradient-bottom"></div>
    </div>
</div>
